# =================================================================
# ARCHIVOS PRIVADOS Y COMPILADOS (NO SE SUBEN)
# =================================================================
target/
objetivo/
nbproject/private/
build/
dist/
*.class

# =================================================================
# MODEL: Bloquea todo, SOLO sube lo tuyo (CONEXIÓN QUEDA BLOQUEADA)
# =================================================================
src/main/java/condominio/proyecto_condominio/model/*
!src/main/java/condominio/proyecto_condominio/model/PropietarioBryan.java
!src/main/java/condominio/proyecto_condominio/model/ReporteGeneral.java

# =================================================================
# DAO: Bloquea todo, SOLO sube lo tuyo
# =================================================================
src/main/java/condominio/proyecto_condominio/dao/*
!src/main/java/condominio/proyecto_condominio/dao/ReporteGeneralDAO.java

# =================================================================
# CONTROLLER: Bloquea todo, SOLO sube lo tuyo
# =================================================================
src/main/java/condominio/proyecto_condominio/controller/*
!src/main/java/condominio/proyecto_condominio/controller/ReporteGeneralController.java
!src/main/java/condominio/proyecto_condominio/controller/ReporteGeneralLauncher.java

# =================================================================
# UI: Bloquea todo, SOLO sube tu pantalla
# =================================================================
src/main/java/condominio/proyecto_condominio/ui/*
!src/main/java/condominio/proyecto_condominio/ui/ReporteGeneralView.fxml

# =================================================================
# BLOQUEAR OTRAS CARPETAS QUE NO SEAN TUYAS
# =================================================================
src/main/java/condominio/proyecto_condominio/css/*
src/main/java/condominio/proyecto_condominio/fonts/*
src/main/java/condominio/proyecto_condominio/images/*
src/main/java/condominio/proyecto_condominio/logic/*